
    <div *ngIf="!edited">
      <app-search (searchClicked)="setPage($event)" [search]="this.gridOption.searchObject">

      </app-search>
      <table class="table  ">
        <thead>
          <th>Category Name</th>
          <th>Description</th>
          <th>

            <button (click)="Action(null)" class="btn btn-primary" >
            <span class="fa fa-plus"></span></button>
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let item of gridOption.datas.pagedItems" class="table-hover">
            <td>{{ item.CategoryName }}</td>
            <td>{{ item.Description }}</td>
            <td>
              <div class="btn-group">
              <button (click)="Action(item)" class="btn btn-primary" data-title="Edit" data-toggle="modal"
              data-target="#edit">
              <span class="fa fa-edit"></span></button>
              <button class="btn btn-primary"
              (click)="this.commonService.goCNN('?rpt_id=1&catid='+ item.CategoryId +'&catname='+ item.CategoryName)"> <span
                class="fa fa-print"></span></button>
              </div>
            </td>
          </tr>
          <tr *ngIf="this.gridOption.datas.pagedItems==0">
            <td class="datanotfound" colspan="3">Data not found</td>
          </tr>
        </tbody>
      </table>

      <app-pager (pagedClicked)="setPage($event)" [pagerX]="gridOption"></app-pager>
      <br /><br />
    </div>

    <div class="row" *ngIf="this.edited" >
      <div class="col-md-6">
        <form (ngSubmit)="onSubmit(model)" novalidate #heroForm="ngForm">
          <div class="form-group">
            <label for="CategoryName">Category Name</label>
            <input id="CategoryName" name="r" [(ngModel)]="model.CategoryName" type="text" class="form-control"
              placeholder="CategoryName" />
          </div>

          <div class="form-group">
            <label for="Description">Description</label>
            <input id="Description" name="Description" [(ngModel)]="model.Description" type="text" class="form-control"
              placeholder="Description" />
          </div>





          <div class="btn-group">
            <button type="submit"  class="btn btn-primary save_button"> <span class="fa fa-save"></span> </button>
            <button type="button" (click)="router.navigate(['category']);" class="btn btn-primary back_button"> <span class="fa fa-arrow-left"></span> </button>
          </div>
        </form>
      </div>


      <div class="col-md-6">
        <div id="accordion">

          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseOne">
                Export and Import price list
              </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div class="card-body">
                <button *ngIf="this.relatedProducts.length >0" type="button" (click)="DownloadExcel()"  class="btn btn-primary save_button"> DownloadExcel</button>
               <br /><br /> <input name="fileuploader{{index}}" type="file" (change)="  this.addFile($event)" />
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                Update price list
              </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <button *ngIf="this.relatedProducts.length >0" type="button" (click)="SaveAllRelatedProductsPrice()"  class="btn btn-primary save_button"> Save All Related Products</button>



                <div class="row mt-2" *ngFor="let item of this.relatedProducts; let index=index">
                    <div class="col-md-6">
                      <label for="CategoryName">{{item.ProductName}}</label>

                    </div>
                    <div class="col-md-3">
                      <input numeric decimals="3" maxlength="10" type="text" id="sdfsdf{{index}}" name="dsdfsdfsdfsdfsdf{{index}}" [(ngModel)]="item.UnitPrice"/>
                    </div>
                    <div class="col-md-3">
                      <label for="CategoryName">{{item.ProdUnit.RefDescription}}</label>
                    </div>
                </div>
              </div>
            </div>
          </div>



        </div>




      </div>

    </div>

