
    <div id="safsdf" *ngIf="!this.edited">
      <app-search (searchClicked)="setPage($event)" [search]="this.gridOption.searchObject">
      </app-search>
      <table class="table table-striped table-sm">
        <thead>
          <th>RecipeId</th>
          <th>RecipeName</th>
          <th>Course</th>
          <th>CuisineName</th>
          <th>MocName</th>
          <th>PrepName</th>

          <th>


            <button (click)="Action(null)" class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
              data-target="#edit">
              <span class="fa fa-plus"></span></button>


          </th>

        </thead>
        <tbody>
          <tr *ngFor="let item of gridOption.datas.pagedItems" class="table-hover">
            <td>{{ item.RecipeId }}</td>
            <td>{{ item.RecipeName }}</td>
            <td>{{ item.CourseName }}</td>
            <td>{{ item.CuisineName }}</td>
            <td>{{ item.MocName }}</td>
            <td>{{ item.PrepName }}</td>

            <td>



              <button (click)="Action(item)" class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
                data-target="#edit">
                <span class="fa fa-pencil-square-o"></span></button>


            </td>
          </tr>
          <tr class="" *ngIf="this.gridOption.datas.pagedItems == 0">
            <td class="datanotfound" colspan="7">Data not found</td>
          </tr>
        </tbody>
      </table>

      <app-pager (pagedClicked)="setPage($event)" [pagerX]="gridOption"></app-pager>

      <br />
    </div>



    <div class="row mt-2">
      <div class="col-md-12">
        <form *ngIf="this.edited" (ngSubmit)="onSubmit(this.modelRecipe)" novalidate #heroForm="ngForm">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Header</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Details</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="row mt-3">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="RecipeName">RecipeName</label>
                    <input [(ngModel)]="this.modelRecipe.RecipeName" id="RecipeName" name="RecipeName" type="text"
                      class="form-control" placeholder="RecipeName" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="Reference">Reference</label>
                    <input [(ngModel)]="this.modelRecipe.Reference" id="Reference" name="Referenceasdfsadf" type="text"
                      class="form-control" placeholder="Reference" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header">Portion Yield</div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-3 mt-1">
                          <label class="form-check-label">
                            <label for="email" class="mr-sm-1">Standard</label>
                          </label>
                        </div>

                        <div class="col-md-4">
                          <label class="form-check-label">
                            <input [(ngModel)]="this.modelRecipe.StandardPortions" id="Reference" name="Reference"
                              type="number" class="form-control" placeholder="Reference" />



                          </label>


                        </div>

                        <div class="col-md-4">

                          <div class="form-group">


                            <select [(ngModel)]="this.modelRecipe.StandradUnitId" class="form-control" id="Courses"
                              name="Coursessafdf">
                              <option *ngFor="let i of this.modelWrapper.StandradUnits" [ngValue]="i.RefId">
                                {{ i.RefDescription }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-md-3 mt-1">
                          <label class="form-check-label">
                            <label for="email" class="mr-sm-1">Required</label>
                          </label>
                        </div>

                        <div class="col-md-4">
                          <label class="form-check-label">
                            <input [(ngModel)]="this.modelRecipe.ReqPortions" id="Reference" name="ReqPortions"
                              type="number" class="form-control" placeholder="ReqPortions" />
                          </label>
                        </div>

                        <div class="col-md-4">
                          <select [(ngModel)]="this.modelRecipe.StandradUnitId" class="form-control" id="Courses"
                            name="Coursest">
                            <option *ngFor="let i of this.modelWrapper.StandradUnits" [ngValue]="i.RefId">
                              {{ i.RefDescription }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="card">
                    <div class="card-header">Quantity Yield</div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6">
                          <label class="form-check-label">
                            <input [(ngModel)]="this.modelRecipe.YieldNumber" id="YieldNumber1" name="YieldNumber1"
                              type="number" class="form-control" placeholder="YieldNumber" />
                          </label>
                        </div>
                        <div class="col-md-6">
                          <select [(ngModel)]="this.modelRecipe.YieldUnitId" (change)="onChangeYieldUnit()"
                            class="form-control" id="Courses" name="Coursesssssssssssssssss">
                            <option *ngFor="let i of this.modelWrapper.YieldUnits" [ngValue]="i.RefId">
                              {{ i.RefDescription }}
                            </option>
                          </select>
                        </div>
                      </div>



                      <div class="row mt-2">
                        <div class="col-md-6">
                          <label class="form-check-label">
                            <input readonly="true" [value]="this.RequiredYield()" id="YieldUnitxxxxx"
                              name="YieldUnitxxxxx" type="text" class="form-control" />
                          </label>
                        </div>
                        <div class="col-md-6">
                          <label class="form-check-label">
                            <input readonly="true" placeholder="Unit" id="YieldUnitxxx" name="YieldUnitxxx"
                              readonly="true" [(ngModel)]="this.modelRecipe.SelectedYieldUnit" type="text"
                              class="form-control" />
                          </label>



                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="card">
                    <div class="card-header">Portion Size</div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6">
                          <label class="form-check-label">
                            <input readonly="true" [value]="this.PortionSize()" id="YieldNumber" name="YieldNumber"
                              type="text" class="form-control" placeholder="YieldNumber" />
                          </label>
                        </div>
                        <div class="col-md-6">
                          <label class="form-check-label">
                            <input readonly="true" [value]="this.modelRecipe.SelectedYieldUnit" id="YieldUnitxx"
                              name="YieldUnitxx" type="text" class="form-control" placeholder="YieldUnit" />
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">Featured</div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="Courses">Courses</label>

                            <select [(ngModel)]="this.modelRecipe.CourseId" class="form-control" id="Courses"
                              name="Courses">
                              <option *ngFor="let i of this.modelWrapper.Courses" [ngValue]="i.RefId">
                                {{ i.RefDescription }}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="MOCs">MOCs</label>

                            <select [(ngModel)]="this.modelRecipe.Mocid" class="form-control" id="MOCs" name="MOCs">
                              <option *ngFor="let i of this.modelWrapper.MOCs" [ngValue]="i.RefId">
                                {{ i.RefDescription }}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="CookingTime">CookingTime</label>

                            <select [(ngModel)]="this.modelRecipe.PrepId" class="form-control" id="CookingTime"
                              name="CookingTime">
                              <option *ngFor="let i of this.modelWrapper.CookingTime" [ngValue]="i.RefId">
                                {{ i.RefDescription }}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="CuisneTypes">CuisneTypes</label>

                            <select [(ngModel)]="this.modelRecipe.CuisineId" class="form-control" id="CuisneTypes"
                              name="CuisneTypes">
                              <option *ngFor="let i of this.modelWrapper.CuisneTypes" [ngValue]="i.RefId">
                                {{ i.RefDescription }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header">Add To List As</div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-check">
                            <input [(ngModel)]="this.modelRecipe.KitchRec" name="KitchRec" type="checkbox"
                              class="form-check-input" id="KitchRec" />
                            <label class="form-check-label" for="exampleCheck1">Kitchen Recipe</label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-check">
                            <input [(ngModel)]="this.modelRecipe.BarRec" name="BarRec" type="checkbox"
                              class="form-check-input" id="BarRec" />
                            <label class="form-check-label" for="exampleCheck1">Bar Recipe</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">


              <table class="table table-striped table-sm">
                <thead>

                  <th>Product</th>
                  <th>Standard</th>
                  <th>Unit</th>
                  <th>UnitPrice $</th>
                  <th>Yield%</th>
                  <th>Required</th>
                  <th>Cost</th>
                  <th>Q.P.P.</th>
                  <th>Ext. Price</th>
                  <th>HR Food</th>
                  <th>Prod Note</th>
                  <th>
                    <button type="button" (click)="this.AddRecipeLine()" class="btn btn-primary btn-xs"
                      data-title="Edit" data-toggle="modal" data-target="#edit">
                      <span class="fa fa-plus"></span></button>
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="
                      let i of this.modelRecipe.RecipeDetails;
                      let index = index
                    " class="table-hover">
                    <td>
                      <select [(ngModel)]="i.ProductId" class="form-control" id="modelStorageAreas"
                        name="modelStorageAreafgdfgfgs{{ index }}">
                        <option *ngFor="let j of this.modelWrapper.Products" [ngValue]="j.ProductId">
                          {{ j.ProductName }}
                        </option>
                      </select>
                    </td>

                    <td>
                      <input [(ngModel)]="i.Quantity" id="Quantity" name="Quantity{{ index }}" type="number"
                        class="form-control" placeholder="Quantity" />
                    </td>
                    <td>
                      {{ this.getProductObject(i.ProductId)?.ProdUnit.RefDescription }}
                    </td>
                    <td>
                      {{this.getProductObject(i.ProductId)?.UnitPrice || 0}}
                    </td>
                    <td>
                      <input [(ngModel)]="i.Yield" id="Yield" name="Yield{{ index }}" type="number" class="form-control"
                        placeholder="Yield" />
                    </td>
                    <td>
                      {{(i.Quantity * 100)/i.Yield}}

                    <td>
                      {{ ((i.Quantity * 100)/i.Yield)*this.getProductObject(i.ProductId)?.UnitPrice }}
                    </td>
                    <td>QPP</td>
                    <td>Ext. Price</td>
                    <td>{{ i.Product?.Hrfood }}</td>

                    <td>
                      <input [(ngModel)]="i.ProdNote" id="ProdNote" name="ProdNote{{ index }}" type="text"
                        class="form-control" placeholder="ProdNote" />
                    </td>

                    <td>
                      <button type="button" (click)="deleteRecipeDetails(i.RecipeDetailId)"
                        class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit">
                        <span class="fa fa-trash"></span>

                      </button>

                    </td>


                  </tr>
                  <tr
                    *ngIf="this.modelRecipe.RecipeDetails?.length == 0 || this.modelRecipe.RecipeDetails?.length == null  ">
                    <td class="datanotfound" colspan="12">Data not found</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
 
