<section class="section-content padding-y bg">
  <div class="container">

    <div *ngIf="!this.edited">
      <app-search
      (searchClicked)="setPage($event)"
      [search]="this.gridOption.searchObject">

    </app-search>
      <table class="table table-striped table-sm">
        <thead>
          <th>RecipeId</th>
          <th>RecipeName</th>
          <th>Course</th>
          <th>CuisineName </th>
          <th>MocName </th>
          <th>PrepName </th>

          <th>
            <input type="button" value="New" class="btn btn-primary" (click)="Action(null)" />
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let item of gridOption.datas.pagedItems" class="table-hover">
            <td>{{ item.RecipeId }}</td>
            <td>{{ item.RecipeName }}</td>
            <td>{{ item.CourseName }}</td>
            <td>{{ item.CuisineName }}</td>
            <td>{{ item.MocName }}</td>
            <td>{{ item.PrepName }}</td>



            <td>
              <input type="button" value="Edit" class="btn btn-primary" (click)="Action(item)" />
            </td>
          </tr>
          <tr *ngIf="this.gridOption.datas.pagedItems==0" >
            <td class="datanotfound" colspan="7">Data not found</td></tr>
        </tbody>
      </table>

      <app-pager
      (pagedClicked)="setPage($event)"
      [pagerX]="gridOption"
    ></app-pager>

      <br />
    </div>


    <br />

    <form *ngIf="this.edited" (ngSubmit)="onSubmit(this.modelRecipe)"  novalidate #heroForm="ngForm">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="RecipeName">RecipeName</label>
            <input  [(ngModel)]="this.modelRecipe.RecipeName" id="RecipeName" name="RecipeName"  type="text" class="form-control"
              placeholder="RecipeName" />
          </div>
        </div>
        <div class="col-md-6">

          <div class="form-group">
            <label for="Reference">Reference</label>
            <input  [(ngModel)]="this.modelRecipe.Reference" id="Reference" name="Reference"  type="text" class="form-control"
              placeholder="Reference" />
          </div>
        </div>

      </div>


      <div class="row">


          <div class="form-check mb-2 mr-sm-2">
            <label class="form-check-label">
              <label for="email" class="mr-sm-2">Email address:</label>
            </label>
          </div>

          <div class="form-check mb-2 mr-sm-2">
            <label class="form-check-label">
              <input  [(ngModel)]="this.modelRecipe.Reference" id="Reference" name="Reference"  type="text" class="form-control"
              placeholder="Reference" />
            </label>
          </div>
          <div class="form-check mb-2 mr-sm-2">
            <label class="form-check-label">
              <input  [(ngModel)]="this.modelRecipe.Reference" id="Reference" name="Reference"  type="text" class="form-control"
              placeholder="Reference" />
            </label>
          </div>
          <div class="form-check mb-2 mr-sm-2">
            <label class="form-check-label">
              <input  [(ngModel)]="this.modelRecipe.Reference" id="Reference" name="Reference"  type="text" class="form-control"
              placeholder="Reference" />
            </label>
          </div>
          <input type="email" class="form-control mb-2 mr-sm-2" placeholder="Enter email" id="email">
          <label for="pwd" class="mr-sm-2">Password:</label>
          <input type="password" class="form-control mb-2 mr-sm-2" placeholder="Enter password" id="pwd">
          <div class="form-check mb-2 mr-sm-2">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox"> Remember me
            </label>
          </div>



        <div class="col-md-1">
          <div class="form-group">
            <label for="Reference">Reference</label>
            <input  [(ngModel)]="this.modelRecipe.Reference" id="Reference" name="Reference"  type="text" class="form-control"
              placeholder="Reference" />
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label for="Reference">Reference</label>
            <input  [(ngModel)]="this.modelRecipe.Reference" id="Reference" name="Reference"  type="text" class="form-control"
              placeholder="Reference" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="Courses">Courses</label>

            <select   [(ngModel)]="this.modelRecipe.CourseId  "  class="form-control" id="Courses"
             name="Courses" >
              <option *ngFor="let i of this.modelWrapper.Courses" [ngValue]="i.RefId">
                {{ i.RefDescription }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="MOCs">MOCs</label>

            <select  [(ngModel)]="this.modelRecipe.Mocid"   class="form-control" id="MOCs"
             name="MOCs" >
              <option *ngFor="let i of this.modelWrapper.MOCs" [ngValue]="i.RefId">
                {{ i.RefDescription }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="CookingTime">CookingTime</label>

            <select [(ngModel)]="this.modelRecipe.PrepId"    class="form-control" id="CookingTime"
             name="CookingTime" >
              <option *ngFor="let i of this.modelWrapper.CookingTime" [ngValue]="i.RefId">
                {{ i.RefDescription }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="CuisneTypes">CuisneTypes</label>

            <select [(ngModel)]="this.modelRecipe.CuisineId"    class="form-control" id="CuisneTypes"
             name="CuisneTypes" >
              <option *ngFor="let i of this.modelWrapper.CuisneTypes" [ngValue]="i.RefId">
                {{ i.RefDescription }}
              </option>
            </select>
          </div>
        </div>
      </div>




      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>
