<div *ngIf="!edited">
  <app-search (searchClicked)="setPage($event)" [search]="this.gridOption.searchObject"> </app-search>
  <table class="table  ">
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>

        <button (click)="Action(null)" class="btn btn-primary  ">
          <span class="fa fa-plus"></span></button>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let item of gridOption.datas.pagedItems" class="table-hover">
        <td>{{ item.FirstName }}</td>
        <td>{{ item.LastName }}</td>
        <td>

          <button (click)="Action(item)" class="btn btn-primary  ">
            <span class="fa fa-edit"></span></button>
        </td>
      </tr>
      <tr *ngIf="this.gridOption.datas.pagedItems==0">
        <td class="datanotfound" colspan="3">Data not found</td>
      </tr>
    </tbody>
  </table>

  <app-pager (pagedClicked)="setPage($event)" [pagerX]="gridOption"></app-pager>
  <br /><br />
</div>

<form (ngSubmit)="onSubmit(model)" *ngIf="this.edited" novalidate #heroForm="ngForm">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="FirstName">First Name</label>
        <input id="FirstName" name="r" [(ngModel)]="model.FirstName" type="text" class="form-control"
          placeholder="FirstName" />
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="LastName">Last Name</label>
        <input id="LastName" name="LastName" [(ngModel)]="model.LastName" type="text" class="form-control"
          placeholder="LastName" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="Title">Title</label>
        <input id="Title" name="Title" [(ngModel)]="model.Title" type="text" class="form-control" placeholder="Title" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="Phone">Phone</label>
        <input id="Phone" name="Phone" [(ngModel)]="model.Phone" type="text" class="form-control" placeholder="Phone" />
      </div>
    </div>
  </div>



  <div class="btn-group">
    <button type="submit" class="btn btn-primary save_button"> <span class="fa fa-save"></span> </button>
    <button type="button" (click)="router.navigate(['tutor']);" class="btn btn-primary back_button"> <span
        class="fa fa-arrow-left"></span> </button>
  </div>

</form>
