<!-- <div id="safsdf" *ngIf="!this.edited">
  <app-search (searchClicked)="setPage($event)" [search]="this.gridOption.searchObject"></app-search>

  <table class="table ">
    <thead>
      <th>Description</th>
      <th>Student Numbers</th>
      <th>ReqStudent Numbers</th>
      <th>Assessment</th>
      <th>
        <button class="btn btn-primary" (click)="Action(null)">
          <span class="fa fa-plus"></span>
        </button>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let item of gridOption.datas.pagedItems;let index = index" class="table-hover" (click)="Action(item)">
        <td>{{ item.OrderDescription }}</td>
        <td>{{ item.StudentNumbers }}</td>
        <td>{{ item.ReqStudentNumbers }}</td>
        <td>
          <input [(ngModel)]="item.IsAssessment" name="IsAssessment{index}" type="checkbox" disabled
            id="IsAssessment{index}" />
        </td>
        <td>
          <button class="btn btn-primary" (click)="Action(item)">
            <span class="fa fa-edit"></span>
          </button>
        </td>
      </tr>
      <tr *ngIf="this.gridOption.datas.pagedItems==0">
        <td class="datanotfound" colspan="7">Data not found</td>
      </tr>
    </tbody>
  </table>

  <app-pager (pagedClicked)="setPage($event)" [pagerX]="gridOption"></app-pager>
</div> -->


<div class="row mt-2">
  <div class="col-md-12">
    <form (ngSubmit)="onSubmit(this.modelOrder)" novalidate #heroForm="ngForm">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="" data-target="#home">Header</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="" data-target="#TheoryNotes">Theory Notes (Attachments)</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home">

          <div class="container-fluid  mt-3 rounded  " style="background-color:#ecf0f4;">
            <div class="row ">
              <div class="col-md-6">

                <div class="row mt-3">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="Cource">All Orders</label>
                      <!-- (change)="this.GetOrderByID()" -->
                      <select [(ngModel)]="this.selectedOrderIDRRRRR" class="form-control" id="selectedOrderIuouioDXXX"
                        (change)="this.GetOrderByID()" name="oiioioi">
                        <option value="0">---New---</option>
                        <option *ngFor="let i of this.orders" [value]="i.OrderId">
                          {{ i.OrderDescription }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="OrderDescription">Order Description</label>
                      <input [(ngModel)]="this.modelOrder.OrderDescription" id="OrderDescription"
                        name="OrderDescription" type="text" class="form-control" placeholder="OrderDescription" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="StudentNumbers">Topic</label>
                      <input [(ngModel)]="this.modelOrder.PractTitle" id="PractTitle" name="PractTitle" type="text"
                        class="form-control" placeholder="PractTitle" />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="card">
                          <div class="card-header">Quantity Yield</div>
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="StudentNumbers">Student Numbers</label>
                                  <input [(ngModel)]="this.modelOrder.StudentNumbers" id="StudentNumbers"
                                    name="StudentNumbers"
                                    (ngModelChange)="this.modelOrder.StudentNumbers = $event === null ? 0 : $event"
                                    type="number" numeric maxlength="4" class="form-control"
                                    placeholder="StudentNumbers" />
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="ReqStudentNumbers">Req. Student Numbers</label>
                                  <input [(ngModel)]="this.modelOrder.ReqStudentNumbers" id="ReqStudentNumbers"
                                    name="ReqStudentNumbers"
                                    (ngModelChange)="this.modelOrder.ReqStudentNumbers = $event === null ? 0 : $event"
                                    type="number" numeric maxlength="4" class="form-control"
                                    placeholder="ReqStudentNumbers" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-md-12">

                    <div class="row mt-3">
                      <div class="col-md-12">
                        <div class="card">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-3">
                                <div class="form-group">
                                  <div class="form-check">
                                    <label>
                                      <input [(ngModel)]="this.modelOrder.IsAssessment" name="IsAssessmentx"
                                        type="checkbox" class="form-check-input" id="IsAssessmentx" />
                                      Assessment</label>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                  <div class="form-check">
                                    <input [(ngModel)]="this.modelOrder.IsPractical" name="IsPracticalx" type="checkbox"
                                      class="form-check-input" id="IsPracticalx" />
                                    <label class="form-check-label" for="IsPractical">
                                      Practical</label>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                  <div class="form-check">
                                    <input [(ngModel)]="this.modelOrder.IsService" name="IsServicex" type="checkbox"
                                      class="form-check-input" id="IsServicex" />
                                    <label class="form-check-label" for="IsServicex">
                                      Service</label>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                  <div class="form-check">
                                    <input [(ngModel)]="this.modelOrder.IsTheory" name="IsTheoryx" type="checkbox"
                                      class="form-check-input" id="IsTheoryx" />
                                    <label class="form-check-label" for="IsTheoryx">
                                      Theory</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">

                <div class="row mt-3">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="Cource">Course</label>
                      <select [(ngModel)]="this.selectedCouseID"
                        (change)="this.GetSelectedCouseRecipes(this.selectedCouseID)" class="form-control" id="Cource"
                        name="CuisneTypes">
                        <option value="0"></option>
                        <option *ngFor="let i of this.modelWrapper.Courses" [ngValue]="i.RefId">
                          {{ i.RefDescription }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="Recipes">Recipes</label>
                      <select [(ngModel)]="this.selectedRecipeID" class="form-control" id="RecipeId" name="RecipeId">
                        <option value="0"></option>
                        <option *ngFor="let i of this.modelRecipeHeader" [ngValue]="i.RecipeId">
                          {{ i.RecipeName }}
                        </option>
                      </select>

                    </div>

                  </div>
                  <div class="col-md-1">
                    <div class="form-group">
                      <br />
                      <div class="btn-group">
                        <button [disabled]="this.selectedRecipeID==0"
                          (click)="this.AddLinkRecipe(this.selectedRecipeID)" type="button"
                          class="form-control btn btn-primary">
                          <span class="fa fa-plus"></span>
                        </button>
                        <button (click)="this.AutoBuild()" type="button" class="form-control btn btn-warning"> Auto
                          Build
                        </button>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div style="max-height: 25vh;overflow-y: scroll;">
                      <table class="table ">
                        <thead>
                          <th>Assosicated Recipe</th>
                          <th>X Rec.</th>
                          <th>Clac Note</th>
                          <th></th>
                        </thead>
                        <tbody>
                          <tr (dblclick)="open(content,i);"
                            *ngFor="  let i of this.modelOrder.RecipeOrderLink;  let index = index "
                            class="table-hover">
                            <td>
                              {{i.Recipe.RecipeName}}
                            </td>
                            <td>
                              <input [(ngModel)]="i.NumReq" id="NumReq{{index}}" name="NumReq{{index}}" type="number"
                                numeric decimals="3" class="form-control" placeholder="X Rec." />
                            </td>
                            <td>
                              <input [(ngModel)]="i.CalcNote" id="CalcNote{{index}}" name="CalcNote{{index}}"
                                type="text" class="form-control" placeholder="TherNoteTitle" />
                            </td>
                            <td>
                              <div class="btn-group">
                                <button (click)="this.DeleteLinkRecipe(i.ROLinkId)" type="button"
                                  class="form-control btn btn-danger">
                                  <span class="fa fa-trash"></span>
                                </button>

                              </div>

                            </td>
                          </tr>
                          <tr *ngIf="this.modelOrder.RecipeOrderLink?.length == 0">
                            <td class="datanotfound" colspan="4">Data Not Found</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="container-fluid mt-3 rounded" style="background-color: #ecf0f4;">
            <div class="row">


              <div class="col-md-12">
                <div style="max-height: 100vh; overflow-y: scroll;">

                  <table class="table ">
                    <thead>
                      <th>No</th>
                      <th>Product Name</th>
                      <th>Quantity</th>
                      <!-- <th>Unit</th>
                      <th>Unit Price</th> -->
                      <th>Change Unit</th>
                      <th>Unit Price</th>

                      <th>Yield</th>
                      <th>Update</th>
                      <th>Cost</th>
                      <th>QPS</th>
                      <th>Ext. Price</th>
                      <th>
                        <button (click)="this.AddProdutDialog(0,0)" type="button" class="btn btn-primary"
                          data-title="Edit" data-toggle="modal" data-target="#edit">
                          <span class="fa fa-plus"></span>
                        </button>

                      </th>
                    </thead>
                    <tbody>
               <tr *ngFor="  let i of this.modelOrder.OrderDetails;  let index = index " class="table-hover">

                        <td>{{ index+1 }}</td>
                          <td>
                            <button class="btn btn-secondary" type="button"
                              (click)="this.AddProdutDialog(i.ProductId,i.OrderDetailsId)">
                              {{i.Product.ProductName}}
                            </button>
                          </td>
                          <td>
                            <input [(ngModel)]="i.Quantity" type="number"
                              (ngModelChange)="i.Quantity = $event === null ? 0 : $event" numeric decimals="3"
                              id="QuantityEEE{{ index }}" name="QuantityEEE{{ index }}" class="form-control"
                              placeholder="Quantity" />
                          </td>
                          <!-- <td>
                            {{ this.getProductObject(i.ProductId)?.ProdUnit?.RefDescription }}
                          </td>
                          <td>
                            $ {{ this.getProductObject(i.ProductId)?.UnitPrice }}
                          </td> -->
                          <td>
                            <select [(ngModel)]="i.ProdUnitId" class="form-control" id="ChangedProdUnitsXXXXXX{{ index }}"
                              name="ChangedProdUnitsXXXXXX{{ index }}">
                              <option *ngFor="let j of this.modelWrapper.ProdUnits" [ngValue]="j.RefId">
                                {{ j.RefDescription }}
                              </option>
                            </select>
                          </td>
                          <td>
                            <input [(ngModel)]="i.UnitPrice" id="UnitPrice2{{ index }}" name="UnitPrice2{{ index }}"
                              type="number" class="form-control" (ngModelChange)="unitPriceDefaultValues($event,i)"
                              placeholder="UnitPrice" numeric decimals="3" />
                          </td>


                          <td>
                            <input [(ngModel)]="i.Yield" id="Yieldxxxx{{ index }}" name="Yieldxxxx{{ index }}"
                              type="number" class="form-control" (ngModelChange)="i.Yield = $event === null ? 0 : $event"
                              placeholder="Yield" numeric decimals="3" />
                          </td>
                         <td>{{(((i.Quantity/ this.modelOrder.StudentNumbers )/ (i.Yield/100)) *this.modelOrder.ReqStudentNumbers).toFixed(3)}}</td>  <!-- update -->
                          <td>{{ ((((i.Quantity/ this.modelOrder.StudentNumbers )/ (i.Yield/100)) *this.modelOrder.ReqStudentNumbers ) *  i.UnitPrice).toFixed(3)}}</td>   <!-- cost -->
                          <td>{{ ((i.Quantity/ this.modelOrder.StudentNumbers )/ (i.Yield/100)) .toFixed(3) }}</td> <!-- QPS -->
                          <td> {{ (((i.UnitPrice * i.Quantity)/this.modelOrder.StudentNumbers)/(i.Yield/100)).toFixed(3)}}</td> <!-- ext price -->
                          <td>
                            <button type="button" (click)="this.deleteOrderLine(i.OrderDetailsId,i.guid)"
                              class="btn btn-danger btn-sm">
                              <span class="fa fa-trash"></span>
                            </button>
                          </td>
                        </tr>

                        <tr
                          *ngIf="this.modelOrder.OrderDetails?.length == 0 || this.modelOrder.OrderDetails?.length == null  ">
                          <td class="datanotfound" colspan="13">Data not found</td>
                        </tr>



                    </tbody>
                  </table>

                </div>
              </div>

            </div>
          </div>

        </div>

        <app-product-dialog></app-product-dialog>

        <div class="tab-pane fade  " id="TheoryNotes">
          <div class="row">
            <div class="col-md-6">
              <div class="row mt-3">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="Notes">Notes</label>
                    <textarea rows="5" id="OrderNotes" name="OrderNotes" [(ngModel)]="this.modelOrder.Notes" type="text"
                      class="form-control" placeholder="Notes"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="pre-scrollable" style="max-height: 60vh;">
                <table class="table table-striped">
                  <thead>
                    <th>
                      <button type="button" (click)="AddNote()" class="btn btn-primary" data-title="Edit"
                        data-toggle="modal" data-target="#edit">
                        <span class="fa fa-plus"></span>
                      </button>
                    </th>
                    <th>Title</th>
                    <th>cc</th>
                    <th>Download</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let i of this.modelOrder.OrderTheoryNotes; let index = index" class="table-hover mt-0">
                      <td>
                        <button type="button" class="btn btn-primary" (click)="deleteNote(i)">
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                      <td>
                        <input [(ngModel)]="i.TherNoteTitle" id="TherNoteTitle{{index}}" name="TherNoteTitle{{index}}"
                          type="text" class="form-control" placeholder="TherNoteTitle" />
                      </td>
                      <td>
                        <input name="fileuploader{{index}}" type="file" (change)="addFile($event,i)" />
                      </td>
                      <td>
                        <button *ngIf="i.UniqueFileName.length >0" type="button"
                          (click)="this.commonService.downloadFile(i.UniqueFileName)" class="btn btn-primary">
                          Download
                        </button>

                      </td>
                    </tr>
                    <tr *ngIf="this.modelOrder.OrderTheoryNotes?.length == 0">
                      <td class="datanotfound" colspan="4">Data not found</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <br />
        <div class="clearfix">
          <div class="float-right h2">Per Lesson :{{this.getPerLesson() }}  <br />Per Student :{{this.getPerStudent() }} </div>

        </div>
        <div class="btn-group">
          <button type="submit" class="btn btn-primary save_button">
            <span class="fa fa-save"></span>
          </button>

          <!-- <button type="button" (click)="router.navigate(['orders']);" class="btn btn-primary back_button">
            <span class="fa fa-arrow-left"></span>
          </button> -->
        </div>


      </div>
    </form>
  </div>
</div>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Recipe</h4>

  </div>
  <div class="modal-body">
    <app-recipe recipeIDFromMain="{{  this.doubleclickRecipeID }}"></app-recipe>
  </div>
  <div class="modal-footer">

  </div>
</ng-template>
