<section class="section-content padding-y bg">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Categories/Products/Suppliers
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 ">
              <div *ngIf="this.currentObj.Supplier" class="card-body  border border-primary ">
                <a class="card-title text-center" (click)="this.loadpage('suppliers')">
                  <img class="card-img-top" src="assets/icons/icon-2x2-01.png" alt="Card image cap" />
                  Supplier </a>
              </div>
            </div>
            <div class="col-md-4">
              <div *ngIf="this.currentObj.Category" class="card-body   border border-primary">
                <a (click)="this.loadpage('category')">
                  <img class="card-img-top" src="assets/icons/icon-2x2-02.png" alt="Card image cap" />
                  Category </a>
              </div>
            </div>
            <div class="col-md-4">
              <div *ngIf="this.currentObj.Product" class="card-body   border border-primary">
                <a (click)="this.loadpage('products')">
                  <img class="card-img-top" src="assets/icons/icon-2x2-03.png" alt="Card image cap" />
                  Products </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Recipes....
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div *ngIf="this.currentObj.Recipe" class="card-body border border-primary">
                <a class="card-title text-center" (click)="this.loadpage('recipes')">
                  <img class="card-img-top" src="assets/icons/icon-2x2-25.png" alt="Card image cap" />
                  Recipe </a>
              </div>
            </div>
            <div class="col-md-4">
              <div *ngIf="this.currentObj.Order" class="card-body border border-primary">
                <a class="card-title text-center" (click)="this.loadpage('orders')">

                  <img class="card-img-top" src="assets/icons/icon-2x2-26.png" alt="Card image cap" />
                  Lession </a>
              </div>
            </div>
            <div class="col-md-4">
              <div *ngIf="this.currentObj.Order" class="card-body border border-primary">
                <a class="card-title text-center"  (click)="this.loadpageWithQuery('RecipeOrderRPT','1000','1000')">

                  <img class="card-img-top" src="assets/icons/icon-2x2-12.png" alt="Card image cap" />
                  Trolley </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
        Order Total
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <div *ngIf="this.currentObj.Classs" class="card-body border border-primary">
                <a class="card-title text-center" (click)="this.loadpageWithQueryWeeks('Search',0,0)">
                  <img class="card-img-top" src="assets/icons/icon-2x2-11.png" alt="Card image cap" />
                  Requitision Summary</a>
              </div>
            </div>
            <div class="col-md-2">
              <div *ngIf="this.currentObj.Classs" class="card-body border border-primary">
                <a class="card-title text-center" (click)="this.loadpageWithSubType('orderRpt',3,900,1)">
                  <img class="card-img-top" src="assets/icons/icon-2x2-12.png" alt="Card image cap" />
                  Order Breakdown by Category</a>
              </div>
            </div>

            <div class="col-md-2">
              <div *ngIf="this.currentObj.Classs" class="card-body border border-primary">
                <a class="card-title text-center" (click)="this.loadpageWithSubType('orderRpt',4,901,1)">
                  <img class="card-img-top" src="assets/icons/icon-2x2-13.png" alt="Card image cap" />
                  Breakdown of all-venue/all-class</a>
              </div>
            </div>
            <div class="col-md-2">
              <div *ngIf="this.currentObj.Classs" class="card-body border border-primary">
                <a class="card-title text-center" (click)="this.loadpageWithSubType('orderRpt',4,902,2)">
                  <img class="card-img-top" src="assets/icons/icon-2x2-14.png" alt="Card image cap" />
                  Order Single Supplier</a>
              </div>
            </div>
            <div class="col-md-2">
              <div *ngIf="this.currentObj.Classs" class="card-body border border-primary">
                <a class="card-title text-center" (click)="this.loadpageWithSubType('orderRpt',4,903,3)">
                  <img class="card-img-top" src="assets/icons/icon-2x2-15.png" alt="Card image cap" />
                  Order Single Class</a>
              </div>
            </div>
            <div class="col-md-2">
              <div *ngIf="this.currentObj.Classs" class="card-body border border-primary">
                <a class="card-title text-center" (click)="this.loadpageWithSubType('orderRpt',5,904,1)">
                  <img class="card-img-top" src="assets/icons/icon-2x2-16.png" alt="Card image cap" />
                  Order Single Category</a>
              </div>
            </div>

            <div class="col-md-2">
              <div *ngIf="this.currentObj.Classs" class="card-body border border-primary">
                <a class="card-title text-center" (click)="this.loadpageWithSubType('orderRpt',4,905,4)">
                  <img class="card-img-top" src="assets/icons/icon-2x2-17.png" alt="Card image cap" />
                  Order Single Category</a>
              </div>
            </div>




          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Tutor-Time
        </div>
        <div class="card-body">
          <div class="row">
            <div   class="col-md-4">
              <div  class="card-body border border-primary">
                <a class="card-title text-center" (click)="this.loadpage('tutor')">
                  <img class="card-img-top" src="assets/icons/icon-2x2-04.png" alt="Card image cap" />
                  Tutor</a>
              </div>
            </div>


            <div class="col-md-4">
              <div class="card-body border border-primary">
                <a class="card-title text-center" (click)="this.loadpageWithQuery('common','2','2000')">
                  <img class="card-img-top" src="assets/icons/icon-2x2-05.png" alt="Card image cap" />
                  Venue Time Table</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card-body border border-primary">
                <a class="card-title text-center" (click)="this.loadpageWithQuery('common','2','2001')">
                  <img class="card-img-top" src="assets/icons/icon-2x2-06.png" alt="Card image cap" />
                  Class Time Table </a>
              </div>
            </div>


          </div>
          <div class="row mt-2">

            <div class="col-md-4">
              <div class="card-body border border-primary">
                <a class="card-title text-center" (click)="this.loadpageWithQuery('common','2','2002')">
                  <img class="card-img-top" src="assets/icons/icon-2x2-07.png" alt="Card image cap" />
                  Tutor Time Table </a>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Venues-Session
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div *ngIf="this.currentObj.Venue" class="card-body border border-primary">
                <a class="card-title text-center" (click)="this.loadpage('venue')">
                  <img class="card-img-top" src="assets/icons/icon-2x2-28.png" alt="Card image cap" />
                  Venue </a>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row mt-2">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Quals/Classes/Units
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div *ngIf="this.currentObj.Classs" class="card-body border border-primary">
                <a class="card-title text-center" (click)="this.loadpage('classes')">
                  <img class="card-img-top" src="assets/icons/icon-2x2-30.png" alt="Card image cap" />
                  Classes</a>
              </div>
            </div>

            <div class="col-md-4">
              <div *ngIf="this.currentObj.Classs" class="card-body border border-primary">
                <a class="card-title text-center" (click)="this.loadpage('units')">
                  <img class="card-img-top" src="assets/icons/icon-2x2-31.png" alt="Card image cap" />
                  Units</a>
              </div>
            </div>

            <div class="col-md-4">
              <div *ngIf="this.currentObj.Classs" class="card-body border border-primary">
                <a class="card-title text-center" (click)="this.loadpage('quli')">
                  <img class="card-img-top" src="assets/icons/icon-2x2-32.png" alt="Card image cap" />
                  Qulification</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


</section>
