<div *ngIf="!edited && !newUser">
  <app-search (searchClicked)="setPage($event)" [search]="this.gridOption.searchObject"> </app-search>
  <table class="table table-bordered ">
    <thead>
      <th>UserName</th>

      <th>

        <button (click)="Action(null)" class="btn btn-primary  ">
          new user</button>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let item of gridOption.datas.pagedItems" class="table-hover">
        <td>{{ item.UserName }}</td>
        <td>
          <button (click)="UserAcess(item.UserId)" class="btn btn-primary  ">
            user rights</button>
        </td>
      </tr>
      <tr *ngIf="this.gridOption.datas.pagedItems==0">
        <td class="datanotfound" colspan="2">Data not found</td>
      </tr>
    </tbody>
  </table>

  <app-pager (pagedClicked)="setPage($event)" [pagerX]="gridOption"></app-pager>
  <br /><br />
</div>

<form (ngSubmit)="onSubmit()" *ngIf="this.edited" novalidate #heroForm="ngForm">
  <ul>
    <li *ngFor="let item of this.modelUserRights  ">
      <label> {{item.MenuHeader}} </label>
      <ul>
        <li *ngFor="let i of item.rights ; let index = index ">
             <input name="{{i.controlID}}"
          type="checkbox"
          class="form-check-input"
          id="{{index}}exampleCheck1"
            [(ngModel)]="i.ClaimValue" />
            {{i.ClaimType}} {{i.ClaimValue}}
        </li>
      </ul>
    </li>
  </ul>
  <div class="btn-group">
    <button type="submit" class="btn btn-primary save_button"> <span class="fa fa-save"></span> </button>
    <button type="button" (click)="router.navigate(['admin']);" class="btn btn-primary back_button"> <span
        class="fa fa-arrow-left"></span> </button>
  </div>
  <!-- this.modelUserRights -->

</form>

<form   *ngIf="this.newUser" novalidate #heroForm="ngForm">
  <div class="row">
     <div class="col-md-4">
      <div class="form-group">
        <label for="UserName">UserName</label>
        <input id="UserName" name="r" [(ngModel)]="this.modelUserDetails.UserName" type="text" class="form-control"
          placeholder="UserName" />
      </div>

    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="Password">Password</label>
        <input id="Password" name="Password" [(ngModel)]="this.modelUserDetails.Password" type="password" class="form-control"
          placeholder="Password" />
      </div>

    </div>

  </div>
  <div class="btn-group">
    <button type="button"  (click)="SaveUser()" class="btn btn-primary save_button"> <span class="fa fa-save"></span> </button>
    <button type="button" (click)="router.navigate(['admin']);" class="btn btn-primary back_button"> <span
        class="fa fa-arrow-left"></span> </button>
  </div>
</form>


