<section class="section-content padding-y bg">
  <div class="container">
    <div *ngIf="!this.edited">
      <app-search
        (searchClicked)="setPage($event)"
        [searchOptionsX]="gridOption.colNames"
        [searchID]="searchID"
      ></app-search>
      <table class="table table-striped table-sm">
        <thead>
          <th>ProductId</th>
          <th>ProductName</th>
          <th>CompanyName</th>
          <th>ContactName</th>
          <th>CategoryName</th>

          <th>
            <input
              type="button"
              value="New"
              class="btn btn-primary"
              (click)="Action(null)"
            />
          </th>
        </thead>
        <tr
          *ngFor="let item of gridOption.datas.pagedItems"
          class="table-hover"
        >
          <td>{{ item.ProductId }}</td>
          <td>{{ item.ProductName }}</td>
          <td>{{ item.Supplier.CompanyName }}</td>
          <td>{{ item.Supplier.ContactName }}</td>
          <td>{{ item.Category.CategoryName }}</td>

          <td>
            <input
              type="button"
              value="Edit"
              class="btn btn-primary"
              (click)="Action(item)"
            />
          </td>
        </tr>
      </table>

      <app-pager
        (pagedClicked)="setPage($event)"
        [pagerX]="gridOption"
      ></app-pager>
      <br /><br />
    </div>

    <form
      (ngSubmit)="onSubmit(model)"
      *ngIf="this.edited"
      novalidate
      #heroForm="ngForm"
    >
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="ProductName">ProductName</label>
            <input
              id="ProductName"
              name="ProductName"
              [(ngModel)]="model.ProductName"
              type="text"
              class="form-control"
              placeholder="ProductName"
            />
          </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="modelCategory">CategoryName</label>

            <select
              class="form-control"
              id="modelCategory"
              name="modelCategory"
              [(ngModel)]="this.model.CategoryId"
            >
              <option
                *ngFor="let i of this.modelCategory"
                [ngValue]="i.CategoryId"
              >
                {{ i.CategoryName }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="modelSupplier">CompanyName</label>

              <select
                class="form-control"
                id="modelSupplier"
                name="modelSupplier"

                [(ngModel)]="this.model.SupplierId"
              >
                <option
                  *ngFor="let i of this.modelSupplier"
                  [ngValue]="i.SupplierId"
                >
                  {{ i.CompanyName }}
                </option>
              </select>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="Unit">Unit</label>
            <input
              id="Unit"
              name="Unit"
              [(ngModel)]="model.Unit"
              type="text"
              class="form-control"
              placeholder="Unit"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="UnitPrice">UnitPrice</label>
            <input
              id="UnitPrice"
              name="UnitPrice"
              [(ngModel)]="model.UnitPrice"
              type="text"
              class="form-control"
              placeholder="UnitPrice"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="Yield">Yield</label>
            <input
              id="Yield"
              name="Yield"
              [(ngModel)]="model.Yield"
              type="text"
              class="form-control"
              placeholder="Yield"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="ProductNotes">ProductNotes</label>
          
            <textarea
            rows="5"
              id="ProductNotes"
              name="ProductNotes"
              [(ngModel)]="model.ProductNotes"
              type="text"
              class="form-control"
              placeholder="ProductNotes"
            ></textarea>
          </div>
          </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>
