<div class="wrapper" style="border-top: 5px black solid;">
  <!-- Sidebar  -->
  <nav *ngIf="this.currentObj.IsAuthenticated" id="sidebar">
    <div class="sidebar-header">
      <!-- <h3>Cookin ERP </h3> -->
      <img class="card-img-top img-fluid" src="assets/evolution_new.png" />
    </div>

    <ul id="x" class="list-unstyled components">
      <li>
        <a routerLink="home"> <i class="fa fa-plus-circle " aria-hidden="true"></i> Home</a>
      </li>

      <li>
        <a data-toggle="collapse" aria-expanded="true" class="dropdown-toggle" data-target="#Cat_Prod_Sup"
          aria-controls="Cat_Prod_Sup"><i class="fa fa-plus-circle " aria-hidden="true"></i> Cat/Prod/Sup</a>
        <ul class="collapse list-unstyled" data-parent="#x" id="Cat_Prod_Sup">
          <li>
            <a [ngClass]="{'norights': !this.currentObj.Supplier}"
            data-linkname="XXX"
              routerLink="{{this.CheckAccess('suppliers')}}">Suppliers</a>
          </li>
          <li>
            <a [ngClass]="{'norights': !this.currentObj.Category}"
              routerLink="{{this.CheckAccess('category')}}">Category</a>
          </li>
          <li>
            <a [ngClass]="{'norights': !this.currentObj.Product}"
              routerLink="{{this.CheckAccess('products')}}">Products</a>
          </li>
        </ul>
      </li>

      <li>
        <a data-toggle="collapse" aria-expanded="true" class="dropdown-toggle" data-target="#Recipes"><i
            class="fa fa-plus-circle " aria-hidden="true"></i> Recipes</a>
        <ul class="collapse list-unstyled" id="Recipes" data-parent="#x">
          <li>
            <a [ngClass]="{'norights': !this.currentObj.Recipe}"
              routerLink="{{this.CheckAccess('recipes')}}">Recipes</a>
            <a [ngClass]="{'norights': !this.currentObj.Order}" routerLink="{{this.CheckAccess('orders')}}">Orders</a>
          </li>
          <li>


          </li>
        </ul>
      </li>

      <li>
        <a href="#Tutor_Time" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"><i
            class="fa fa-plus-circle " aria-hidden="true"></i> Tutor-Time</a>
        <ul class="collapse list-unstyled" id="Tutor_Time" data-parent="#x">
          <li>
            <a [ngClass]="{'norights': !this.currentObj.Tutor}" routerLink="{{this.CheckAccess('tutor')}}">Tutor</a>
          </li>

        </ul>
      </li>

      <li>
        <a href="#Venues_Sessions" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"><i
            class="fa fa-plus-circle " aria-hidden="true"></i> Venues-Sessions</a>
        <ul class="collapse list-unstyled" id="Venues_Sessions" data-parent="#x">
          <li>
            <a [ngClass]="{'norights': !this.currentObj.Venue}" routerLink="{{this.CheckAccess('venue')}}">Venue</a>
            <a routerLink="common" [queryParams]="{rptID:'2'}">All Venue</a>
          </li>

        </ul>
      </li>

      <li>
        <a href="#Class_Quli_Unit" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"><i
            class="fa fa-plus-circle " aria-hidden="true"></i> Class-Quli-Unit</a>
        <ul class="collapse list-unstyled" id="Class_Quli_Unit" data-parent="#x">
          <li>
            <a [ngClass]="{'norights': !this.currentObj.Classs}"
              routerLink="{{this.CheckAccess('classes')}}">Classes</a>
          </li>
          <li>
            <a [ngClass]="{'norights': !this.currentObj.Unit}" routerLink="{{this.CheckAccess('units')}}">Units</a>
          </li>
          <li>
            <a [ngClass]="{'norights': !this.currentObj.Qulification}"
              routerLink="{{this.CheckAccess('quli')}}">Qulification
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#Requitions_Summary" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
          <i class="fa fa-plus-circle " aria-hidden="true"></i> Requitions Summary</a>
        <ul class="collapse list-unstyled" id="Requitions_Summary" data-parent="#x">
          <li>
            <a [ngClass]="{'norights': !this.currentObj.Weeks}" routerLink="{{this.CheckAccess('Search')}}"
              [queryParams]="{selectedYear:'0',selectedWeekID:0}">Weeks</a>


            <a routerLink="orderRpt"[queryParams]="{rptID:'3', subtype: 1 ,rptUI_ID:900 }" >Order Breakdown by Category</a>

            <a routerLink="orderRpt" [queryParams]="{rptID:'4',
              subtype: 1 ,rptUI_ID:901 }">Breakdown of all-venue/all-class</a>

            <a routerLink="orderRpt" [queryParams]="{rptID:'4',
              subtype: 2 ,rptUI_ID:902 }">Order Single Supplier</a>

            <a routerLink="orderRpt" [queryParams]="{rptID:'4',
              subtype: 3 ,rptUI_ID:903 }">Order Single Class</a>

            <a routerLink="orderRpt" [queryParams]="{rptID:'5',
              subtype: 1 ,rptUI_ID:904 }">Order Single Category</a>

            <a routerLink="orderRpt" [queryParams]="{rptID:'4',
              subtype: 4 ,rptUI_ID:905 }">Order Single Venue</a>


          </li>

        </ul>
      </li>

      <li>
        <a [ngClass]="{'norights': !this.currentObj.ChangePW}" routerLink="{{this.CheckAccess('changepw')}}">
          <i class="fa fa-key" aria-hidden="true"></i>
          Change Password</a>
      </li>
    </ul>



    <ul class="list-unstyled components" style=" padding-top: 1px;">
      <li>
        <a href="#admin" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-user-lock	"></i>
          Admin</a>
        <ul class="collapse list-unstyled" id="admin" data-parent="#x">
          <li>
            <a [ngClass]="{'norights': !this.currentObj.UserAccess}" routerLink="{{this.CheckAccess('admin')}}">User
              Access</a>
          </li>
          <li>
            <a [ngClass]="{'norights': !this.currentObj.Reference}" routerLink="{{this.CheckAccess('ref')}}">Ref Tables
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="list-unstyled components" style="padding-left: 10px;padding-top: 1px;">
      <li>
        <address style="color: black;">
          <strong> Company Name</strong><br>
          1234 Example Street<br>
          Antartica, Example 0987<br>
          <abbr title="Phone"><i class="fa fa-phone-square  " aria-hidden="true"></i></abbr> (123) 456-7890

        </address>

      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <nav style="padding-left:0px;" *ngIf="this.currentObj.IsAuthenticated"
      class="navbar navbar-expand-lg navbar-light bg-light " style="    padding-left: 0px;
      margin-top: 0px;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;">
      <div style="padding-left:0px;padding-right:0px;" class="container-fluid  ">

        <div class="collapse navbar-collapse  container-fluid" id="navigation"
          style="padding-left:0px;padding-right:0px;">
          <nav style="padding-left:0px;padding-right:0px;" class="  border-secondary container-fluid"
            *ngIf="this.currentObj.IsAuthenticated" aria-label="breadcrumb">


            <ol class="breadcrumb container-fluid " style="background-color: rgb(237, 229, 245); ">
              <li class="breadcrumb-itemx" style="margin-right:10px;padding-right:0px;">
                <img id='logoImage' class="  img-fluid" style="height: 30px;width: 60px;display:none"
                  src="assets/evolution_new.png" />
              </li>
              <li class="breadcrumb-item">
                <button type="button" id="sidebarCollapse" (click)="CCCC()" class="btn btn-info btn-sm">
                  <i class="fas fa-align-left"></i>
                </button>

              </li>
              <li class="breadcrumb-item">
                <a class="breadcrumb-text" href="javascript:void(0)" [routerLink]='this.home'>Home</a>
              </li>
              <li *ngFor="let breadLink of displayBreadcrumbList" class="breadcrumb-item active" aria-current="page">
                <a *ngIf="breadLink.name != 'pro' && breadLink.name != 'home' && breadLink.name != undefined "
                  href="javascript:void(0)"
                  (click)="this.decodeurl(breadLink.url)"
                  class="breadcrumb-text">{{ breadLink.name
                  }}</a>
              </li>


              <li class="breadcrumb-itemx   nav navbar-nav ml-auto">
                <a class="breadcrumb-textx justify-content-end" href="#" (click)="this.commonServie.logout()">
                  <span class="fa fa-sign-out-alt fa-w-16"></span>
                  :[{{getUsername()}}]</a>
              </li>

            </ol>



          </nav>

        </div>


      </div>
    </nav>
    <app-confirm-dialog></app-confirm-dialog>
    <app-loader></app-loader>
    <router-outlet></router-outlet>
  </div>
</div>



<!-- ng serve -o --base-href /pro/ -->
