<app-confirm-dialog></app-confirm-dialog>
<div class="container mt-2 ">
  <app-menu></app-menu>
</div>

<div  class="container mt-2 ">
  <div id="xx" class="container mt-2" style="background-color: white;">

    <app-loader></app-loader>
    <br />
    <router-outlet></router-outlet>

  </div>

</div>



<div class="container">
  <div class="row">
    <div class="col text-center">
      <a class="align-middle" href="https://www.evolution.edu.au/">© 2019 Evolution Hospitality Institute
      </a>
    </div>
  </div>
</div>
