<div class="wrapper">
  <!-- Sidebar  -->
  <nav *ngIf="this.currentObj.IsAuthenticated" id="sidebar">
    <div class="sidebar-header">
      <h3>Cookin ERP </h3>
    </div>




    <ul id="x" class="list-unstyled components">
      <li>
        <a routerLink="home">Home</a>
      </li>
      <li>
        <a   data-toggle="collapse" aria-expanded="true"
        class=" dropdown-toggle" data-target="#Cat_Prod_Sup"
        aria-controls="Cat_Prod_Sup">Cat/Prod/Sup</a>
        <ul class="collapse list-unstyled" data-parent="#x" id="Cat_Prod_Sup">
          <li>
            <a [ngClass]="{'norights': !this.currentObj.Supplier}"
              routerLink="{{this.CheckAccess('suppliers')}}">Suppliers</a>
          </li>
          <li>
            <a [ngClass]="{'norights': !this.currentObj.Category}"
              routerLink="{{this.CheckAccess('category')}}">Category</a>
          </li>
          <li>
            <a [ngClass]="{'norights': !this.currentObj.Product}"
              routerLink="{{this.CheckAccess('products')}}">Products</a>
          </li>
        </ul>
      </li>

      <li>
        <a  data-toggle="collapse" aria-expanded="true"
        class="dropdown-toggle" data-target="#Recipes">Recipes</a>
        <ul class="collapse list-unstyled" id="Recipes" data-parent="#x">
          <li>
            <a [ngClass]="{'norights': !this.currentObj.Recipe}"
              routerLink="{{this.CheckAccess('recipes')}}">Recipes</a>
          </li>
          <li>
            <a [ngClass]="{'norights': !this.currentObj.Order}" routerLink="{{this.CheckAccess('orders')}}">Orders</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#Tutor_Time" data-toggle="collapse" aria-expanded="true"
        class="dropdown-toggle">Tutor-Time</a>
        <ul class="collapse list-unstyled" id="Tutor_Time" data-parent="#x">
          <li>
            <a [ngClass]="{'norights': !this.currentObj.Tutor}" routerLink="{{this.CheckAccess('tutor')}}">Tutor</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#Venues_Sessions" data-toggle="collapse" aria-expanded="true"
          class="dropdown-toggle">Venues-Sessions</a>
        <ul class="collapse list-unstyled" id="Venues_Sessions" data-parent="#x">
          <li>
            <a [ngClass]="{'norights': !this.currentObj.Venue}" routerLink="{{this.CheckAccess('venue')}}">Venue</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#Class_Quli_Unit" data-toggle="collapse" aria-expanded="true"
          class="dropdown-toggle">Class-Quli-Unit</a>
        <ul class="collapse list-unstyled" id="Class_Quli_Unit" data-parent="#x">
          <li>
            <a [ngClass]="{'norights': !this.currentObj.Classs}"
              routerLink="{{this.CheckAccess('classes')}}">Classes</a>
          </li>
          <li>
            <a [ngClass]="{'norights': !this.currentObj.Unit}" routerLink="{{this.CheckAccess('units')}}">Units</a>
          </li>
          <li>
        
            <a [ngClass]="{'norights': !this.currentObj.Qulification}" routerLink="{{this.CheckAccess('quli')}}">Qulification
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#Requitions_Summary" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Requitions
          Summary</a>
        <ul class="collapse list-unstyled" id="Requitions_Summary" data-parent="#x">
          <li>
            <a [ngClass]="{'norights': !this.currentObj.Weeks}" routerLink="{{this.CheckAccess('Search')}}"
              [queryParams]="{selectedYear:'0',selectedWeekID:0}">Weeks</a>
          </li>
        </ul>
      </li>

      <li>
        <a [ngClass]="{'norights': !this.currentObj.ChangePW}" routerLink="{{this.CheckAccess('changepw')}}">Change
          Password</a>
      </li>
    </ul>

    <ul class="list-unstyled components">
      <li>
        <a href="#admin" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Admin</a>
        <ul class="collapse list-unstyled" id="admin" data-parent="#x">
          <li>
            <a [ngClass]="{'norights': !this.currentObj.UserAccess}" routerLink="{{this.CheckAccess('admin')}}">User
              Access</a>
          </li>
          <li>

            <a [ngClass]="{'norights': !this.currentObj.Reference}" routerLink="{{this.CheckAccess('ref')}}">Ref Tables
               </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">

    <nav *ngIf="this.currentObj.IsAuthenticated" class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
        </button>

        <!-- <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <nav class="  border-secondary" *ngIf="(isLoggedIn | async)" aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: white;">
              <li class="breadcrumb-item">
                <a class="breadcrumb-text" href="#">Home</a>
              </li>
              <li *ngFor="let breadLink of displayBreadcrumbList" class="breadcrumb-item active" aria-current="page">
                <a href="javascript:void(0)" [routerLink]="breadLink.url"
                  class="breadcrumb-text">{{ breadLink.name }}</a>
              </li>
            </ol>
          </nav>

        </div> -->

        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#" (click)="this.commonServie.logout()">Log out- {{getUsername()}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <app-confirm-dialog></app-confirm-dialog>
    <app-loader></app-loader>
    <router-outlet></router-outlet>
  </div>
</div>
