<div id="safsdf" *ngIf="!this.edited">
  <app-search (searchClicked)="setPage($event)" [search]="this.gridOption.searchObject">
  </app-search>
  <table class="table  ">
    <thead>
      <th>Recipe Name</th>
      <th>Course</th>
      <th>Cuisine Name</th>
      <th>MOC Name</th>
      <th>Prep. Name</th>
      <th>
        <button (click)="Action(null)" class="btn btn-primary ">
          <span class="fa fa-plus"></span></button>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let item of gridOption.datas.pagedItems" class="table-hover">
        <td>{{ item.RecipeName }}</td>
        <td>{{ item.CourseName }}</td>
        <td>{{ item.CuisineName }}</td>
        <td>{{ item.MocName }}</td>
        <td>{{ item.PrepName }}</td>
        <td>
          <div class="btn-group">
               <button (click)="Action(item)" class="btn btn-primary ">
            <span class="fa fa-edit"></span></button>
            <button type="button" class="btn btn-primary  " data-toggle="modal" data-target="#exampleModalCenter"> <span
              class="fa fa-print"></span> </button>
          </div>

        </td>
      </tr>
      <tr class="" *ngIf="this.gridOption.datas.pagedItems == 0">
        <td class="datanotfound" colspan="7">Data not found</td>
      </tr>
    </tbody>
  </table>

  <app-pager (pagedClicked)="setPage($event)" [pagerX]="gridOption"></app-pager>
  <br />
</div>

<div class="row mt-2">
  <div class="col-md-12">
    <form *ngIf="this.edited" (ngSubmit)="onSubmit(this.modelRecipe)" novalidate #heroForm="ngForm">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Header</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders"
            aria-selected="false">Associated Orders</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row mt-3">
            <div class="col-md-6">
              <div class="form-group">
                <label for="RecipeName">RecipeName</label>
                <input [(ngModel)]="this.modelRecipe.RecipeName" id="RecipeName" name="RecipeName" type="text"
                  class="form-control" placeholder="RecipeName" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="Reference">Reference</label>
                <input [(ngModel)]="this.modelRecipe.Reference" id="Referenceasdfsadf" name="Referenceasdfsadf" type="text"
                  class="form-control" placeholder="Reference" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">Portion Yield</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-3 mt-1">
                      <label class="form-check-label">
                        <label for="email" class="mr-sm-1">Standard</label>
                      </label>
                    </div>

                    <div class="col-md-4">
                      <label class="form-check-label">
                        <input [(ngModel)]="this.modelRecipe.StandardPortions"
                          (ngModelChange)="this.modelRecipe.StandardPortions = $event === null ? 0 : $event"
                          type="number" numeric decimals="2" maxlength="10" id="StandardPortions" name="StandardPortions"
                          class="form-control" placeholder="StandardPortions" />
                      </label>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <select [(ngModel)]="this.modelRecipe.StandradUnitId" class="form-control" id="StandradUnitId"
                          name="StandradUnitId">
                          <option value="0"></option>
                          <option *ngFor="let i of this.modelWrapper.StandradUnits" [ngValue]="i.RefId">
                            {{ i.RefDescription }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-3 mt-1">
                      <label class="form-check-label">
                        <label for="email" class="mr-sm-1">Required</label>
                      </label>
                    </div>

                    <div class="col-md-4">
                      <label class="form-check-label">
                        <input [(ngModel)]="this.modelRecipe.ReqPortions" id="Reference" name="ReqPortions"
                          (ngModelChange)="this.modelRecipe.ReqPortions = $event === null ? 0 : $event" type="number"
                          numeric decimals="2" maxlength="10" class="form-control" placeholder="ReqPortions" />
                      </label>
                    </div>

                    <div class="col-md-4">
                      <select [(ngModel)]="this.modelRecipe.StandradUnitId" class="form-control" id="StandradUnitId2"
                        name="StandradUnitId2">
                        <option value="0"></option>
                        <option *ngFor="let i of this.modelWrapper.StandradUnits" [ngValue]="i.RefId">
                          {{ i.RefDescription }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card">
                <div class="card-header">Quantity Yield</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <label class="form-check-label">
                        <input [(ngModel)]="this.modelRecipe.YieldNumber" id="YieldNumber1" name="YieldNumber1"
                          type="text" numeric decimals="2" class="form-control" placeholder="YieldNumber" />
                      </label>
                    </div>
                    <div class="col-md-6">
                      <select [(ngModel)]="this.modelRecipe.YieldUnitId" (change)="onChangeYieldUnit()"
                        class="form-control" id="YieldUnitId" name="Coursesssssssssssssssss">
                        <option value="0"></option>
                        <option *ngFor="let i of this.modelWrapper.YieldUnits" [ngValue]="i.RefId">
                          {{ i.RefDescription }}
                        </option>
                      </select>
                    </div>
                  </div>



                  <div class="row mt-2">
                    <div class="col-md-6">
                      <label class="form-check-label">
                        <input readonly="true" [value]="this.RequiredYield()" id="YieldUnitxxxxx" name="YieldUnitxxxxx"
                          type="text" class="form-control" />
                      </label>
                    </div>
                    <div class="col-md-6">
                      <label class="form-check-label">
                        <input readonly="true" placeholder="Unit" id="YieldUnitxxx" name="YieldUnitxxx" readonly="true"
                          [(ngModel)]="this.modelRecipe.SelectedYieldUnit" type="text" class="form-control" />
                      </label>



                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card">
                <div class="card-header">Portion Size</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <label class="form-check-label">
                        <input readonly="true" [value]="this.PortionSize()" id="YieldNumber" name="YieldNumber"
                          type="text" class="form-control" placeholder="YieldNumber" />
                      </label>
                    </div>
                    <div class="col-md-6">
                      <label class="form-check-label">
                        <input readonly="true" [value]="this.modelRecipe.SelectedYieldUnit" id="YieldUnitxx"
                          name="YieldUnitxx" type="text" class="form-control" placeholder="YieldUnit" />
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header">Featured</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="Courses">Courses</label>

                        <select [(ngModel)]="this.modelRecipe.CourseId" class="form-control" id="CourseId"
                          name="CourseId">
                          <option value="0"></option>
                          <option *ngFor="let i of this.modelWrapper.Courses" [ngValue]="i.RefId">
                            {{ i.RefDescription }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="MOCs">MOCs</label>

                        <select [(ngModel)]="this.modelRecipe.Mocid" class="form-control" id="MOCs" name="MOCs">
                          <option value="0"></option>
                          <option *ngFor="let i of this.modelWrapper.MOCs" [ngValue]="i.RefId">
                            {{ i.RefDescription }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="CookingTime">Prep. Time</label>

                        <select [(ngModel)]="this.modelRecipe.PrepId" class="form-control" id="CookingTime"
                          name="CookingTime">
                          <option value="0"></option>
                          <option *ngFor="let i of this.modelWrapper.CookingTime" [ngValue]="i.RefId">
                            {{ i.RefDescription }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="CuisneTypes">Style</label>

                        <select [(ngModel)]="this.modelRecipe.CuisineId" class="form-control" id="CuisneTypes"
                          name="CuisneTypes">
                          <option value="0"></option>
                          <option *ngFor="let i of this.modelWrapper.CuisneTypes" [ngValue]="i.RefId">
                            {{ i.RefDescription }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <label for="CuisneTypes">Select Search Ingredient for Recipe</label>

                        <select [(ngModel)]="this.modelRecipe.MainIngredId" class="form-control" id="MainIngredId"
                          name="MainIngredId">
                          <option value="0"></option>
                          <option *ngFor="let i of this.modelWrapper.Products" [ngValue]="i.ProductId">
                            {{ i.ProductName }} - {{i.ProdUnit.RefDescription}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-header">Add To List As</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-check">
                        <label>
                          <input name="KitchRec" type="checkbox" class="form-check-input" id="KitchRec"
                            [(ngModel)]="this.modelRecipe.KitchRec" />Kitchen Recipe
                        </label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-check">
                        <label>
                          <input [(ngModel)]="this.modelRecipe.BarRec" name="BarRec" type="checkbox"
                            class="form-check-input" id="BarRec" />
                          Bar Recipe
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

          <table class="table  ">
            <thead>
              <th>Product</th>
              <th>Standard</th>
              <th>Unit</th>
              <th>Unit Price </th>
              <th>Changed Unit</th>
              <th>Unit Price</th>
              <th>Yield%</th>
              <th>Required</th>
              <th>Cost</th>
              <th>Q.P.P.</th>
              <th>Ext. Price</th>
              <th>HR Food</th>
              <th>Prod Note</th>
              <th>
                <button type="button" (click)="this.AddRecipeLine()" class="btn btn-primary">
                  <span class="fa fa-plus"></span></button>
              </th>
            </thead>
            <tbody>
              <tr *ngFor=" let i of this.modelRecipe.RecipeDetails; let index = index " class="table-hover">
                <td>
                  <select [(ngModel)]="i.ProductId" class="form-control" id="modelStorageAreafgdfgfgs{{ index }}"
                    name="modelStorageAreafgdfgfgs{{ index }}" (ngModelChange)="unitIDDefaultValues($event,i)">
                    <option *ngFor="let j of this.modelWrapper.Products" [ngValue]="j.ProductId">
                      {{ j.ProductName }}
                    </option>
                  </select>
                </td>

                <td>
                  <input [(ngModel)]="i.Quantity" id="Quantity{{ index }}" name="Quantity{{ index }}" class="form-control"
                    placeholder="Quantity" (ngModelChange)="i.Quantity = $event === null ? 0 : $event" type="number"
                    numeric maxlength="10" />
                </td>
                <td>
                  {{ this.getProductObject(i.ProductId)?.ProdUnit.RefDescription }}
                </td>
                <td>
                  $ {{this.getProductObject(i.ProductId)?.UnitPrice || 0}}
                </td>
                <td>
                  <select [(ngModel)]="i.ProdUnitId" class="form-control" id="ChangedProdUnits{{ index }}"
                    name="ChangedProdUnits{{ index }}">

                    <option *ngFor="let j of this.modelWrapper.ProdUnits" [ngValue]="j.RefId">
                      {{ j.RefDescription }}
                    </option>
                  </select>
                </td>
                <td>
                  <input [(ngModel)]="i.UnitPrice" id="UnitPrice2{{ index }}" name="UnitPrice2{{ index }}" type="number"
                    class="form-control" (ngModelChange)="unitPriceDefaultValues($event,i)" placeholder="UnitPrice"
                    numeric decimals="2" />
                </td>
                <td>
                  <input [(ngModel)]="i.Yield" id="Yield{{ index }}" name="Yield{{ index }}" numeric decimals="2" type="text"
                    class="form-control" placeholder="Yield" />
                </td>
                <td>
                  {{(i.Quantity * 100)/i.Yield}}

                <td>
                  <!-- $ {{ ((i.Quantity * 100)/i.Yield)*this.getProductObject(i.ProductId)?.UnitPrice }} -->
                  $ {{ ((i.Quantity * 100)/i.Yield)* ( i.UnitPrice)}}
                </td>
                <td>QPP</td>
                <td>Ext. Price</td>
                <td>{{ i.Product?.Hrfood }}</td>
                <td>
                  <input [(ngModel)]="i.ProdNote" id="ProdNote{{ index }}" name="ProdNote{{ index }}" type="text"
                    class="form-control" placeholder="ProdNote" />
                </td>
                <td>
                  <button type="button" (click)="deleteRecipeDetails(i.RecipeDetailId)" class="btn btn-primary ">
                    <span class="fa fa-trash"></span>
                  </button>
                </td>
              </tr>
              <tr
                *ngIf="this.modelRecipe.RecipeDetails?.length == 0 || this.modelRecipe.RecipeDetails?.length == null  ">
                <td class="datanotfound" colspan="12">Data not found</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
          <table class="table  ">
            <thead>
              <th>Order</th>
              <th>
                <button type="button" (click)="this.AddAssosiatedOrders()" class="btn btn-primary">
                  <span class="fa fa-plus"></span></button>
              </th>
            </thead>
            <tbody>
              <tr *ngFor=" let i of this.modelRecipe.RecipeOrderLink; let index = index " class="table-hover">
                <td>
                  <select [(ngModel)]="i.OrderId" class="form-control" id="orderLink{{ index }}" name="orderLink{{ index }}">
                    <option value="0"></option>
                    <option *ngFor="let j of this.modelOrders " [ngValue]="j.OrderId">
                      {{ j.OrderDescription }}
                    </option>
                  </select>
                </td>
                <td>
                  <button type="button" (click)="deleteLinkOrder(i.OrderId)" class="btn btn-primary ">
                    <span class="fa fa-trash"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


        <br />
        <div class="btn-group">
          <button type="submit" class="btn btn-primary save_button"> <span class="fa fa-save"></span> </button>
          <button type="button" class="btn btn-primary  " data-toggle="modal" data-target="#exampleModalCenter"> <span
              class="fa fa-print"></span> </button>

          <button type="button" (click)="router.navigate(['recipes']);" class="btn btn-primary back_button"> <span
              class="fa fa-arrow-left"></span> </button>
        </div>

      </div>
    </form>
  </div>
</div>


<div class="modal fade  " data-backdrop="static" data-keyboard="false" id="exampleModalCenter" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Print Recipe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                This Recipe:
              </div>
              <div class="card-body">
                <div class="row ml-2">
                  <div class="col-md-12">
                    <label class="form-check-label">
                      <!-- [(ngModel)]="this.subSearchType" -->
                      <input type="radio" class="form-check-input" name="optradio" value="c" />Sort by Category
                    </label>
                  </div>
                  <div class="col-md-12">
                    <label class="form-check-label">
                      <!-- [(ngModel)]="this.subSearchType" -->
                      <input type="radio" class="form-check-input" name="optradio" value="c" />Without costing Information
                    </label>
                  </div>
                  <div class="col-md-12">
                    <label class="form-check-label">
                      <!-- [(ngModel)]="this.subSearchType" -->
                      <input type="radio" class="form-check-input" name="optradio" value="c" />Costing Exercise Form
                    </label>
                  </div>
                  <div class="col-md-12">
                    <label class="form-check-label">
                      <!-- [(ngModel)]="this.subSearchType" -->
                      <input type="radio" class="form-check-input" name="optradio" value="c" />Multple Scaling
                    </label>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                General:
              </div>
              <div class="card-body">
                <div class="row ml-2">
                  <div class="col-md-12">
                    <label class="form-check-label">
                      <!-- [(ngModel)]="this.subSearchType" -->
                      <input type="radio" class="form-check-input" name="optradio" value="c" />Recipe List by Name
                    </label>
                  </div>
                  <div class="col-md-12">
                    <label class="form-check-label">
                      <!-- [(ngModel)]="this.subSearchType" -->
                      <input type="radio" class="form-check-input" name="optradio" value="c" />Recipe List by Course
                    </label>
                  </div>
                  <div class="col-md-12">
                    <label class="form-check-label">
                      <!-- [(ngModel)]="this.subSearchType" -->
                      <input type="radio" class="form-check-input" name="optradio" value="c" />Recipe List by Reference
                    </label>
                  </div>
                  <div class="col-md-12">
                    <label class="form-check-label">
                      <!-- [(ngModel)]="this.subSearchType" -->
                      <input type="radio" class="form-check-input" name="optradio" value="c" />RecipeList by M.O.C
                    </label>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="this.ViewReport()">View</button>
      </div>
    </div>
  </div>
</div>
