<div *ngIf="!edited">
  <app-search (searchClicked)="setPage($event)" [search]="this.gridOption.searchObject"> </app-search>
  <table class="table  ">
    <thead>
      <th>Pono</th>
      <th>CompanyName</th>
      <th>

        <button (click)="Action(null)" class="btn btn-primary  ">
          <span class="fa fa-plus"></span></button>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let item of gridOption.datas.pagedItems" class="table-hover">
        <td>{{ item.Pono }}</td>
        <td>{{ item.CompanyName }}</td>
        <td>

          <button (click)="Action(item)" class="btn btn-primary  ">
            <span class="fa fa-edit"></span></button>
        </td>
      </tr>
      <tr *ngIf="this.gridOption.datas.pagedItems==0">
        <td class="datanotfound" colspan="3">Data not found</td>
      </tr>
    </tbody>
  </table>

  <app-pager (pagedClicked)="setPage($event)" [pagerX]="gridOption"></app-pager>
  <br /><br />
</div>

 <app-product-po-dialog></app-product-po-dialog>
<div class="row mt-2">
  <div class="col-md-12">

    <form *ngIf="this.edited"   novalidate #heroForm="ngForm">

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="Supplier">Supplier</label>
            <select [(ngModel)]="this.model.SupplierId" class="form-control" id="Supplier" name="Supplier">
              <option value="0"></option>
              <option *ngFor="let i of this.modelWrapper.Suppliers" [ngValue]="i.SupplierId">
                {{ i.CompanyName }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="Payment Terms">Payment Terms</label>
            <select [(ngModel)]="this.model.PaymentTermId" class="form-control" id="Payment Terms" name="Payment Terms">
              <option value="0"></option>
              <option *ngFor="let i of this.modelWrapper.PaymentTerms" [ngValue]="i.RefId">
                {{ i.RefDescription }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="OrderedById">Ordered By</label>
            <select [(ngModel)]="this.model.OrderedById" class="form-control" id="OrderedById" name="
            OrderedById">
              <option value="0"></option>
              <option *ngFor="let i of this.modelWrapper.OrderedBy" [ngValue]="i.RefId">
                {{ i.RefDescription }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="OrderDescription">Start Week of timetable period</label>
            <input  theme="dp-material" type="text"
             name="someName"
             [ngModel]="model.DeliveryDate | date: 'yyyy-MM-dd'" (ngModelChange)="model.DeliveryDate=$event"
           [dpDayPicker]="datePickerConfig"
             minDate="1999-09-09"
             />

              <!-- <ng-datepicker [(ngModel)]="model.DeliveryDate" ></ng-datepicker> -->
          </div>
        </div>
      </div>

      <div class="row">
        <table class="table  ">
          <thead>
            <th>Item No</th>
            <th>Product Name</th>
            <th>ProductUnit</th>
            <th>Amount</th>
            <th>Unit Price</th>

            <th>Qty (AUD)  </th>
            <th>Discount (AUD)</th>
            <th>Discounted Price (AUD)</th>
            <th>

              <button type="button" (click)="this.AddProdutDialog(0,0,0,0)" class="btn btn-primary  ">
                <span class="fa fa-plus"></span></button>
            </th>
          </thead>
          <tbody>
            <tr *ngFor="let item of  this.model.Podetails; let index=index" class="table-hover">
              <td>{{item.ProductId}}</td>
              <td>{{item.Product.ProductName}}</td>
              <td> {{item.Product.ProdUnit.RefDescription}}</td>

              <td>
                <input id="Qty{{index}}" name="Qty{{index}}" [(ngModel)]="item.Qty" type="text" class="form-control"
                type="number" numeric decimals="3"
                placeholder="Qty" />

              </td>
              <td>
                <input id="UnitPrice{{index}}" name="UnitPrice{{index}}" [(ngModel)]="item.UnitPrice" type="text"
                type="number" numeric decimals="3"
                class="form-control" placeholder="UnitPrice" />
              </td>


              <td>{{(item.UnitPrice *item.Qty).toFixed(2)  }}</td>

              <td>
                <input id="DiscountAmount{{index}}" name="DiscountAmount{{index}}" [(ngModel)]="item.DiscountAmount" type="text"
                type="number" numeric decimals="3"
                class="form-control" placeholder="DiscountAmount" />
              </td>

              <td>{{((item.UnitPrice *item.Qty) -item.DiscountAmount) .toFixed(2)   }}</td>
              <td>
                <button (click)="this.deleteProduct(item) " class="btn btn-primary  ">
                  <span class="fa fa-trash"></span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="btn-group">
        <button type="button" (click)="this.Save()" class="btn btn-primary save_button">
          <span class="fa fa-save"></span>
        </button>
        <button type="button" (click)="router.navigate(['po']);" class="btn btn-primary back_button">
          <span class="fa fa-arrow-left"></span>
        </button>
      </div>
    </form>
  </div>
</div>
