<div *ngIf="!edited">
  <app-search (searchClicked)="setPage($event)" [search]="this.gridOption.searchObject"></app-search>

  <table class="table  ">
    <thead>
      <th>Company Name</th>
      <th>Contact Name</th>
      <th>Title</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>
        <button (click)="Supplier(null)" class="btn btn-primary ">
          <span class="fa fa-plus"></span></button>
      </th>
    </thead>
    <tbody>

      <tr *ngFor="let item of gridOption.datas.pagedItems" class="table-hover">
        <td>{{ item.CompanyName }}</td>
        <td>{{ item.ContactName }}</td>
        <td>{{ item.ContactTitle }}</td>
        <td>{{ item.Phone }}</td>
        <td>{{ item.Fax }}</td>
        <td>
          <div class="btn-group">
            <button (click)="Supplier(item)" class="btn btn-primary  ">
              <span class="fa fa-edit"></span></button>
            <button class="btn btn-primary" (click)="this.LoadReport()"> <span class="fa fa-print"></span></button>
          </div>


        </td>
      </tr>
      <tr *ngIf="this.gridOption.datas.pagedItems==0">
        <td class="datanotfound" colspan="7">Data not found</td>
      </tr>
    </tbody>
  </table>

  <br />
  <app-pager (pagedClicked)="setPage($event)" [pagerX]="gridOption"></app-pager>
</div>

<form (ngSubmit)="onSubmit(model)" *ngIf="edited" novalidate #heroForm="ngForm">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="ContactName">Contact Name</label>
        <input id="ContactName" name="ContactName" [(ngModel)]="model.ContactName" type="text" class="form-control"
          placeholder="ContactName" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="CompanyName">Company Name</label>
        <input id="CompanyName" name="CompanyName" [(ngModel)]="model.CompanyName" type="text" class="form-control"
          placeholder="Company Name" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="ContactTitle">Contact Title</label>
        <input id="ContactTitle" name="ContactTitle" [(ngModel)]="model.ContactTitle" type="text" class="form-control"
          placeholder="Contact Title" />
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label for="Phone">Phone</label>
        <input id="Phone" name="Phone" [(ngModel)]="model.Phone" type="text" class="form-control" placeholder="Phone" />
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label for="Fax">Fax</label>
        <input id="Fax" name="Fax" [(ngModel)]="model.Fax" type="text" class="form-control" placeholder="Fax" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="ContactTitle">Address</label>
        <input id="Address" name="Address" [(ngModel)]="model.Address" type="text" class="form-control"
          placeholder="Address" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-check">
        <label>
          <input name="Isgst" type="checkbox" class="form-check-input" id="Isgst" [(ngModel)]="this.model.Isgst" />GST
        </label>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="Abn">ABN</label>
        <input id="Abn" name="Abn" [(ngModel)]="model.Abn" type="text" class="form-control" placeholder="ABN" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="EmailAddressOrderPerson">Email Address of OrderPerson</label>
        <input id="EmailAddressOrderPerson" name="EmailAddressOrderPerson" [(ngModel)]="model.EmailAddressOrderPerson"
          type="text" class="form-control" placeholder="EmailAddressOrderPerson" />
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="EmailAddressSalesManager">Email Address Of SalesManager</label>
        <input id="EmailAddressSalesManager" name="EmailAddressSalesManager"
          [(ngModel)]="model.EmailAddressSalesManager" type="text" class="form-control"
          placeholder="EmailAddressSalesManager" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="EmailAddressAccountPerson">Email Address of Account Person</label>
        <input id="EmailAddressAccountPerson" name="EmailAddressAccountPerson"
          [(ngModel)]="model.EmailAddressAccountPerson" type="text" class="form-control"
          placeholder="EmailAddressAccountPerson" />
      </div>
    </div>


    <div class="col-md-4">
      <div class="form-group">
        <label for="PhoneAccountPerson1">Phone no of AccountPerson</label>
        <input id="PhoneAccountPerson1" name="PhoneAccountPerson1" [(ngModel)]="model.PhoneAccountPerson1" type="text"
          class="form-control" placeholder="PhoneAccountPerson" />
      </div>
    </div>
  </div>

  <div class="btn-group">
    <button type="submit" class="btn btn-primary save_button"> <span class="fa fa-save"></span> </button>

    <button class="btn btn-primary" (click)="this.LoadReport()"> <span class="fa fa-print"></span></button>
    <button type="button" (click)="router.navigate(['suppliers']);" class="btn btn-primary back_button"> <span
        class="fa fa-arrow-left"></span> </button>
  </div>
</form>
