
@import url('ss/css/light-bootstrap-dashboard.css');
@import url('ss/css/demo.css');
/* You can add global styles to this file, and also import other style files */
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


  .datanotfound
  {
color: red;
font-weight: bold;
text-align: center;
font-size: 10;

  }
  .save_button {
    min-width: 80px;
    max-width: 80px;
}

.back_button {
    min-width: 80px;
    max-width: 80px;
}



.table tbody tr:hover td, .table tbody tr:hover th {
  background-color:sandybrown;
}
